<%- include('../partials/header'); -%>

	<%- include('../partials/navbar'); -%>

		<div id="main">
			<div class="col-div-12">
				<div class="box-8">
					<div class="content-box">
						<h4>Lista de execuções</h4>

						<table id="automation" class="display">
							<thead>
								<tr>
									<th>Id</th>
									<th>Nome</th>
									<th>Numero</th>
									<th>Data de envio</th>
									<th>Mensagem</th>
								</tr>
							</thead>
							<tbody>
								<% executions.forEach(execution=> { %>
									<tr>
										<td>
											<%= execution.id %>
										</td>
										<td>
											<%= execution.name %>
										</td>
										<td>
											<%= execution.numero %>
										</td>
										<td>
											<%= execution.date_and_time %>
										</td>
										<td>
											<div class="message-container">
												<button class="show-message-button"
													onclick="toggleMessage(this)">Mostrar Mensagem</button>
												<div class="message-content slide-down">
													<%= execution.message %>
												</div>
											</div>
										</td>

									</tr>
									<% }) %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>


		<%- include('../partials/paginacao'); -%>
			<%- include('../partials/footer'); -%>